.work-single {
    .content {
        .intro h2 {
            font-size: 1.2em;
        }

        .text {
            width: 100%;
            position: relative;
            top: 0;
            left: 0;

            p {
                font-size: 1em;
                line-height: 1.575em;
            }
        }
    }
}

@media only screen and (min-width: 920px) {
    .work-single {
        .content {
            .intro h2 {
                font-size: 2em;
            }

            .text {
                width: 60%;
                top: -3.25em;
                left: 35%;

                p {
                    font-size: 1.2380952381em;
                }
            }

            .read-more {
                left: 35%;
                position: relative;
                top: -3.25em;
                margin-top: 2em;
            }
        }
    }
}
