.our-clients {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: stretch;
    column-gap: 1em;
    padding: 1.25em 0 0 0;

    .client-entry {
        padding-bottom: 3.15em;

        p {
            font-size: 0.68em;
            line-height: 1.35em;
            color: #434C58;
        }

        .client_image {
            margin-bottom: 1.25rem;
        }

        .client {
            img {
                margin-bottom: 0.5em;
                height: 1.1904761905em;
                width: auto;
                max-width: 6em;
            }

            span {
                display: none;
            }
        }

        .link-wrapper {
            display: block;
            margin-bottom: 1em;
            position: relative;
            padding-left: 1.6rem;

            &:last-of-type {
                margin-bottom: -0.25em;
            }
        }

        .link {
            &::before {
                content: '';
                background: transparent url(/images/glue_link.svg) no-repeat center;
                background-size: contain;
                width: 1.0657142857em;
                height: 0.4047619048em;
                display: inline-block;
                position: absolute;
                top: 0.5rem;
                left: 0.1em;
            }

            font-size: 0.8rem;
        }
    }
}

.dark {
    .our-clients {
        .client-entry {
            p {
                color: #ffffff;
            }
        }

        .client {
            filter: invert(100%) brightness(100%) grayscale(100%);
        }

        .link {
            color: #ffffff;

            &::before {
                filter: invert(100%) brightness(100%) grayscale(100%);
            }

            &:hover {
                color: #0038F0;
            }
        }
    }
}

@media only screen and (min-width: 920px) {
    .our-clients {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 4em;
        padding: 3.75em 0 0 0;

        .client-entry {
            padding-bottom: 6em;

            p {
                font-size: 0.9047619048em;
                letter-spacing: -0.7px;
            }

            .client_image {
                margin-bottom: 1.75rem;
            }

            .client {
                img {
                    margin-bottom: 1em;
                    height: 1.75em;
                    max-width: 7.5em;
                }
            }

            .link-wrapper {
                margin-bottom: 1rem;
            }
    
            .link {
                font-size: 1rem;
            }
        }
    }
}
