
    /* Section */
    
    

    /* Tiles */
    figure, .page-img {
    width: calc(100% + 2em); width: -webkit-calc(100% + 2em); width: -moz-calc(100% + 2em); width: -o-calc(100% + 2em);
    position: relative; top: 0; left: -1em;
    padding: 0 0 2.2em 0;
    }
    figure { padding-bottom: 0; }
    figure img { margin-bottom: -8px; }
    
    .client img {
    height: 1.1904761905em;
    margin-bottom: 0; width: auto; max-width: 6em;
    }
    .insights-tile a h3 {
    color: #03070D; text-decoration: none;
    padding: 0; margin: 0;
    font-weight: normal; letter-spacing: -1.325px;
    }
    .insights-tile a:hover h3 { color: #0038F0; }
    .hero-wrapper { margin-bottom: 1.25em; }
    
    
    figure { margin-bottom: 0; padding-bottom: 0; }
    figure ~ figure { margin-bottom: 0; padding-bottom: 0; }
    figure ~ figure img { margin-bottom: 0; display: block; }
    #results .result { width: 100%; display: block; margin-bottom: 2.5em; }
    #results .result h3 { font-size: 2.675em; text-align: left; margin-bottom: 0.25em; padding-bottom: 0; }
    #results .result p { display: block; font-size: 0.8571428571em; line-height: 1.375em; letter-spacing: -0.36px; font-family: 'Karmilla', sans-serif; font-weight: 400; margin-top: 1em; }
    .filters { display: block; padding: 1em 0; }

    /* Testimonial */
    #work-single .client { display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: center; padding-top: 0; }

    /* Links */
    .client-entry .link { position: relative; top: 0; left: 1.6em; }
    .client-entry .link::before {
        content: ''; background: transparent url(/images/glue_link.svg) no-repeat center; background-size: contain;
        width: 1.0657142857em; height: 0.4047619048em; display: inline-block; position: absolute; top: 0.3885714286em; left: -1.5em;
    }

    /* Content blocks */
    .page-img { margin-bottom: 6.5em; }
    .page-img img { margin-bottom: -8px; }
    #related h3 { margin-top: 0; }

    
    /* Media queries */
     
    @media only screen and (min-width: 920px) {
    .hero-wrapper { margin-bottom: 0.5em; }
    figure { background: #ffffff; width: -webkit-calc(100% + 9em); width: -moz-calc(100% + 9em); width: -ms-calc(100% + 9em); width: -o-calc(100% + 9em); width: calc(100% + 9em); left: -4.5em; }
    figure { margin-bottom: 0; padding-bottom: 0; display: block; }
    figure ~ figure { margin-bottom: 0; padding-bottom: 0; }
    figure ~ figure img { margin-bottom: 0; display: block; }
    #insights { display: grid; justify-items: stretch; column-gap: 2em; padding: 1.5em 0 0 0; }
    .insights-tile { width: 100%; left: 0; }
    
    .insights-tile a p span { font-size: 1em; }
    #work-single .quote .client { padding-top: 0em; }
    
    }
    
    @media only screen and (min-width: 920px) and (max-width: 1440px) {
    h2 { width: 100%; }
    }   
    
    /* FAKE  */
    
    #video-ask { 
        height: 120px; width: 120px; 
        border: 6px solid #fff; border-radius: 100%; 
        background: #03070D; 
        position: fixed; top: auto; bottom: 29px; left: auto; right: 35px; 
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15); 
        z-index: 99999; 
    }
    @media only screen and (max-width: 450px) {
        #video-ask { bottom: 27px; right: 30px; }
    }
    
    /* END FAKE */
